{% extends "flick_finder/base.html" %}
{% load static %}
{% block title %}
<title>Home</title>
{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row justify-content-center g-4"> <!-- g-3 adds spacing between columns -->
        <div class="col-auto col-sm">
            <img src="{% static 'flick_finder/Pari.jpg' %}" class="movie-poster" alt="Pari">
        </div>
        <div class="col-auto col-sm">
            <img src="{% static 'flick_finder/Pari.jpg' %}" class="movie-poster" alt="Pari">
        </div>
        <div class="col-auto col-sm">
            <img src="{% static 'flick_finder/Pari.jpg' %}" class="movie-poster" alt="Pari">
        </div>
        <div class="col-auto col-sm">
            <img src="{% static 'flick_finder/Pari.jpg' %}" class="movie-poster" alt="Pari">
        </div>
        <div class="col-auto col-sm">
            <img src="{% static 'flick_finder/Pari.jpg' %}" class="movie-poster" alt="Pari">
        </div>
        <div class="col-auto col-sm">
            <img src="{% static 'flick_finder/Pari.jpg' %}" class="movie-poster" alt="Pari">
        </div>
        <div class="col-auto col-sm">
            <img src="{% static 'flick_finder/Pari.jpg' %}" class="movie-poster" alt="Pari">
        </div>
        <div class="col-auto col-sm">
            <img src="{% static 'flick_finder/Pari.jpg' %}" class="movie-poster" alt="Pari">
        </div>
        <div class="col-auto col-sm">
            <img src="{% static 'flick_finder/Pari.jpg' %}" class="movie-poster" alt="Pari">
        </div>
    </div>
</div>


{% endblock %}